body {
  display: block;
  background-image: url('img/main-bg.jpeg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  font-family: sans-serif;
}
.nav-container{
  width: 100%;
  height: 50px;
}
.topnav {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  overflow: hidden;
}
.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 600;
}
.center-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 525px;
  margin-top: 120px
}
.your{
  font-size: 80px;
  font-weight: 600;
  color: #fff;
}
.personal-port{
  font-size: 25px;
  color: #fff;
  font-weight: 600;
}
.arrow{
  margin-top: 200px;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: #fff;
}
.collapsed-nav{
  display: none;
}

.arrow .fa{
  position: relative;
  color: grey;
  top: 19px;
  left: 26px;
  font-size: xx-large !important;
}
@media all and (max-width: 768px) {
  .topnav {
    display: none;
  }
  .collapsed-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 75px;
    width: 100vw;
  }
  .hamburger-container{
    height: 50px;
    width: 50px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-left: 30px;
  }
  .hamburger-icon-container{
    position: relative;
    top: 10px;
    left: 10px;
  }
  .hamburger{
    width: 30px;
    height: 2px;
    background-color: #fff;
    margin: 6px 0;
  }
  .twitter-facebook-box{
    display: flex;
    justify-content: center;
    width: 200px;
  }
  .twitter{
    padding-right: 40px;
  }
  .fa{
    color: #fff;
  }
}
